:root {
    /* colores */
    --titulos: #F0F0F0; 
    --parrafos: #D5D5D5; 


}
* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
 text-decoration: none;
 cursor:alias;
}

header {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 16px;
    background-color: #212529;
    border-top: 0px solid #f2f2f2;
}

header section{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

header .header-left {
    justify-self: left;
}

header .header-right {
    justify-self: right;
}

header .header-right ul, ol{
    list-style: none;
}

.nav li a{
    
    color: var(--titulos);
    text-decoration: none;
    padding: 8px 9px;
    display: block;
 }

.nav > li {
    float: right;
 }

.nav li ul{
 display: none;
 position:-webkit-sticky;
 min-width: 40px;
 }

 .nav li:hover > ul{
 display:block;

 }

 .nav li ul li{
    position: relative;
 }

 .nav li ul li ul{
    left: -20px;
    top: 30px;
}

.main-quienessomos {
  
    height: 420px;
    background-image: url('/img/OPENINGDEFIN.png');
    background-color: black ;     
}

.main-quienessomos h2{  
    width: 375px;
    padding: 50px; 
    font-size: 16px;  
    line-height: 30px;
    color: white;  
    text-align: left;  
}

.main-servicios-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.servicios-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.servicios-detail--title h2{
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.servicios-detail--title p{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 0,9rem;
    color: #000000;
    
}

.servicios-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.servicios-detail--card .solucion{
    display: inline-block;
    width: 350px;
    height: 200px;
    margin-bottom: 10px;
    background-image: url(./img/Frame16.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.servicios--card--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8;
    color: var(--just-white);
}

.servicios--card--body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}







