*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.barra{
    height: 10vh;
    margin: 1rem 1rem ;
    align-items: center;
    display: flex;
}
.menu{
    flex-grow: 1;
}
.logo {
    height: 5rem;
}

